/*common*/
body {
    margin: 0;
    padding: 0;
}
.donate_card {
    min-height: 600px;
}

#information_paragraph {
    text-align: left;
    font-size: 18px;
}

/*CVAleden*/

#cvaleden {
    padding: 150px 0px;
    background-color: #eee;
}

#cvaleden_paragraph {
    text-align: left;
    font-size: 18px;
}

#leden li {
    text-align: left;
    font-size: 15px;
}

/*gauger*/


/*footer*/
footer {
    background-color: #ff9818;
    min-height: 350px;
    color: #fff !important;
}

.footer_item h3 {
    border-bottom: 2px solid #fff;
    padding-bottom: 4px;

}

footer div ul {
    list-style-type: none;
}

footer div img {
    float: left;
    width: 35px;
    padding-right: 5px;
}