/* Main style
---------------------------------------------- */
body{
    background: url('/template/images/manager_wallpaper.png') no-repeat center center !important;
    background-size: cover !important;
}

/* DASHBOARD
---------------------------------------------- */
.nieuwsItem{
    width: 100%;
    float: left;
    border-bottom: 1px solid #ddd;
}
.nieuwsItem:hover{
    background: #ddd;
}
.nieuwsItem img{
    height: 40px;
    width: 40px;
    margin: 5px 20px 5px 5px;
    padding: 0px;
    border-radius: 50px;
    border: 2px solid #01579b ;
    float: left;
}